body {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
}

h1 {
    color: #9b1e2d;
    text-align: center;
}

p {
    text-align: center;
}

/* Small screens */
@media only screen and (max-width: 768px) {
    #container {
        border-top: 1px solid darkgray;
        width: 100%;
    }

    .row {
        width: 100%;
    }

    .column1 {
        border-top: 2px solid darkgray;
        width: 100%;
    }

    .column2 {
        border-top: 1px solid lightgray;
        width: 100%;
    }
}

/* Medium to large screens */
@media only screen and (min-width: 768px) {

    #container {
        border-top: 1px solid darkgray;
        width: 100%;
        max-width: 960px;
        margin: auto;
    }

    .row {
        width: 100%;
        clear: both;
    }

    .column1 {
        border: none;
        float: left;
        width: 50%;
    }

    .column2 {
        border: none;
        float: left;
        width: 50%;
    }
}

.quoteClass {
    color: red;
    /* border: 1px solid black; */
    margin: 0;
    padding: 2px 5px;;
}

.movieClass {
    color: black;
    /* border: 1px solid black; */
    margin: 0;
    padding: 2px 5px;
}

.selected {
    background: yellow;
}

.solved {
    background: lightgray;
}

.footer {
    border-top: 1px solid darkgray;
    margin-top: 10px;
}

.footer p {
    color: darkgray;
    padding: 0;
    margin: 2px;
}
